body {
    font-family: Tahoma,Helvetica,sans-serif;
    font-size: 13px;
}
#wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 25px;
    background-color: #EBEBEB;
}
header {
    background-color: #F1F1F1;
    padding: 10px 0;
    border-bottom: 1px dashed #C8C8C8;
}
h1 {
    font-size: 28px;
    color: #65A7E4;
    margin-left: 15px;
}
.search {
    padding-top: 25px;
    margin: 5px 30px 0 0;
    font-weight: bold;
}
h3, legend {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
}
section {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #C8C8C8;
}
.info {
    padding-right: 40px;
    padding-left: 14px;
}
form {
    display: flex;
    border-bottom: 1px dashed #C8C8C8;
}
fieldset {
    border: none;
}
input {
    height: 30px;
    border-radius: 4px;
}
select {
    height: 35px;
    border-radius: 4px;
}
#wrapper > form > fieldset:nth-child(1) > input {
    width: 80%;
    margin: 5px 0;
}
#wrapper > form > fieldset:nth-child(1) > input {

}
label {
    display: flex;
}
#wrapper > form > fieldset:nth-child(1) {
    width: 28%;
}
#wrapper > form > fieldset:nth-child(2) {
    width: 68%;
}
div > div {
    display: inline-block;
}
.first {
    margin-bottom: 25px;
}
.second > div > input {
    width: 240px;
    margin-right: 15px;
}
#room {
    width: 320px;
    margin-right: 15px;
}
button {
    background-color: #32A2E4;
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    float: right;
    margin: 28px 30px 0 0;
}
#wrapper:after {
    content: "";
    display: block;
    clear: both;
    zoom: 1;
    height: 0;
}