table, tr, td {
    border: 1px solid black;
    text-align: center;
}

.button {
    padding: 1em;
    text-align: center;
}

input {
    padding: 3em;
    text-align: center;
}
.result {
    padding: 2em;
    background-color: #6e6e6e;
    color: white;
}